<nav class="navbar-container">
  <div class="navbar-brand">
    <a class="navbar-link" href="#">
      <img
        class="grantmate-icon"
        src="../../../../assets/GrantMateMainIcon.png"
        alt="GrantMate Icon"
      />
    </a>
  </div>
  <div class="nav-bar-icons">
    <div><mat-icon class="icon">help_outline</mat-icon></div>
    <div><mat-icon class="icon">search_outline</mat-icon></div>
    <div><mat-icon class="icon">settings</mat-icon></div>
    <div class="user-picture">
      <img src="../../../../assets/gajo.jpg" alt="User Picture" />
    </div>
  </div>
</nav>
